p{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    text-transform: uppercase;

    border-bottom: 2px solid black;
    width: 36%;
    padding-bottom: 10px;
    margin-left: 1.6667%;
}

img{
    /* width: 100%; */
    width: 30%;
    /* 100% - (3 images * 30%) = 10%
    in a 3*3 grid, we have 6 margins (2 sides per image)
    10%/6 = 1.66666667% */
    margin: 1.6667%;
    float: left;
}